doctype html
html.no-js
head
  meta(charset="utf-8")
  title
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width")

  // build:css
  link(rel="stylesheet" href="styles/cyborg.bootstrap.min.css")
  link(rel="stylesheet" href="styles/main.css")
  //  endbuild

  // build:vendorjs
  script(src="bower_components/angular/angular.js")
  script(src="bower_components/angular-resource/angular-resource.js")
  script(src="bower_components/angular-sanitize/angular-sanitize.js")
  script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
  // endbuild

body(ng-app="photbox")
  div(ui-view)

  // build:js
  script(src="http://localhost:3000/socket.io/socket.io.js")
  script(src="scripts/app.js")
  script(src="scripts/showService.js")
  script(src="scripts/showController.js")
  script(src="scripts/mainController.js")
  script(src="scripts/smartresource.js")
  script(src="scripts/pbFader.js")
  script(src="scripts/rest.js")
  //  endbuild
