<!DOCTYPE html>
<html class="no-js"></html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!--  build:css(.) styles/vendor.css-->
  <!--  bower:css-->
  <!--  endbower-->
  <!--  endbuild-->
  <!-- build:css(.tmp) styles/main.css-->
  <link rel="stylesheet" href="styles/cyborg.bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <!--  endbuild-->
</head>
<body ng-app="photbox">
  <div ng-controller="MainController as main" class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right"></ul>
      <h3>photbox</h3>
    </div>
    <div>
      <div class="row">
        <div class="col-xs-12">
          <div class="photo">
            <div ng-show="main.status === 'WAIT'" class="spinner-wrapper">
              <div class="spinner"></div>
            </div><img ng-if="main.lastPhoto" ng-src="http://192.168.0.9:3000/photos/{{main.lastPhoto.fileName}}">
          </div>
        </div>
      </div>
      <div class="row buttons">
        <div class="col-xs-12 text-center">
          <button ng-disabled="!main.canTakePicture()" ng-click="main.takePicture()" class="btn btn-primary btn-lg btn-take">Click!</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <div ng-show="main.status == 'SERVER_OFFLINE'" class="row">
        <div class="col-xs-12">{{main.REST_API_URL}} : SERVER OFFLINE!</div>
      </div>
      <div ng-show="main.status != 'SERVER_OFFLINE'" class="row">
        <div class="col-xs-12">{{main.REST_API_URL}} :
          <button ng-show="main.camStatus.status !== 'OK'" ng-click="main.connectCam()" class="btn btn-xs btn-default">connect</button>Status:<i ng-class="'camstatus-' + main.camStatus.status" class="glyphicon"></i>{{main.camStatus.status}}<span ng-show="main.camStatus.status == 'OK'">, {{main.camStatus.model}} at {{main.camStatus.port}}</span>
        </div>
      </div>
    </div>
  </div>
  <!--  build:js(.) scripts/vendor.js-->
  <!-- bower:js-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <!-- endbower-->
  <!-- endbuild-->
  <!-- build:js({.tmp,app}) scripts/scripts.js-->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/smartresource.js"></script>
  <script src="scripts/rest.js"></script>
  <!--  endbuild-->
</body>